#game, #screen {
    padding: .2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#healthNumber {
    padding-left: .5em;
}

#health {
    display: flex;
    flex-direction: row;
    padding: .5em;
    visibility: hidden;
    
}
#yes_no_Prompt {
    visibility: hidden;
}

#yes_no {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .2em;
    visibility: hidden;
}

#yes, #no {
    margin: .5em;
}

#objective {
    margin-top: 1em;
    font-size: larger;
    visibility: visible;
}

#play {
    margin-top: 1.5em;
    height: 4em;
    width: 8em;
}

#map {
    height: 35em;
    width: 55em;
    margin-top: 1.2em;

    background-image: url(./OREG_NHT_displaymap.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;

    border: solid 5px black;
}

#player {
    position: relative;
    top: -12.3em;
    left: 22.35em;

    width: 5em;
    height: 5em;

    transition: all 2s ease-in-out;

}